input,
textarea,
select {
	accent-color: var(--c-gradient-end);

	@include focus {
		outline: toRem(3) solid var(--c-gradient-end);
		outline-offset: toRem(2);
	}
}

input:not([type='radio']):not([type='checkbox']),
textarea {
	border: toRem(4) solid var(--c-lightgray);
	font-size: var(--t-s);
	padding: toRem(8);
}

textarea {
	resize: vertical;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
	font-size: var(--t-s);
}

button[type='submit'] {
	background-color: var(--c-gradient-end);
	color: var(--c-background);
	font-weight: 600;
	padding: toRem(8) toRem(32);
	width: max-content;
}

.field {
	display: flex;
	flex-direction: column;
	gap: toRem(4);
}

.field label,
legend {
	font-size: var(--t-m);
	font-weight: 600;
}

.hint {
	color: var(--c-lightgray);
	display: block;
	font-size: var(--t-xs);
	font-weight: 400;
}

fieldset {
	display: flex;
	gap: toRem(4) toRem(24);
	flex-wrap: wrap;

	legend,
	.hint {
		flex-basis: 100%;
	}
}

.subfield {
	align-items: center;
	display: flex;
	gap: toRem(8);
}
