.print-only {
	display: none;

	@media print {
		display: initial;
	}
}

@media print {
	body {
		font-size: toRem(14) !important;
	}

	.header,
	.footer,
	.download,
	h1:not(.print-only) {
		display: none !important;
	}

	h1 {
		display: inline-block !important;
		font-size: toRem(48) !important;
		margin-bottom: toRem(16) !important;
		background: none !important;
		background-clip: initial !important;
		-webkit-background-clip: initial !important;
		-webkit-text-fill-color: initial !important;
	}

	a {
		text-decoration: none !important;

		&::after {
			content: ' (' attr(href) ') ';
			font-style: italic;
		}
	}

	.intro {
		font-size: toRem(14) !important;
		margin-bottom: toRem(32) !important;
		max-width: 60ch !important;
	}

	.icon {
		display: none;
	}

	.experiences,
	.training {
		padding: 0 !important;

		&::after {
			display: none !important;
		}
	}

	.experience {
		break-inside: avoid;

		.period {
			font-size: toRem(12);
		}

		.tag {
			background: var(--c-background) !important;
			background-clip: initial !important;
			border: toRem(2) solid;
			color: var(--c-content) !important;
			-webkit-background-clip: initial !important;
			-webkit-text-fill-color: initial !important;
		}

		& + & {
			margin-top: toRem(24);
		}
	}
}

@page {
	margin: 0.5cm;
}
