body {
	line-height: 1.5;
	font-size: var(--t-m);
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: var(--t-xxxl);
	font-weight: 900;
	background: linear-gradient(
		var(--gradient-angle),
		var(--c-gradient-start),
		var(--c-gradient-end)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	margin-bottom: toRem(32);
}

h2 {
	font-size: var(--t-xxl);
}

h3 {
	font-weight: 400;
	font-size: var(--t-xl);
}

p.intro {
	max-width: toRem(800);
	margin-bottom: toRem(144);
	font-weight: 600;
	font-size: var(--t-l);

	@include small {
		margin-bottom: toRem(32);
	}

	a {
		text-decoration: underline;
		transition: color 0.2s ease;

		&:hover {
			color: var(--c-lightgray);
		}
	}
}
