@import './functions';

$br-small: toRem(600);

html {
	--c-background: #ffffff;
	--c-content: #121212;
	--c-lightgray: #4a4a4a;
	--c-gradient-start: #1b1b9b;
	--c-gradient-end: #10704d;

	--gradient-angle: 60deg;

	@media not print {
		&.dark {
			--c-background: #121212;
			--c-content: #ffffff;
			--c-lightgray: #d9d9d9;
			--c-gradient-start: #6060f0;
			--c-gradient-start: #7878f1;
			--c-gradient-end: #36f2ad;
		}
	}

	// @media print {
	// 	--c-background: #121212 !important;
	// 	--c-content: #ffffff !important;
	// 	--c-lightgray: #d9d9d9 !important;
	// 	--c-gradient-start: #6060f0 !important;
	// 	--c-gradient-start: #7878f1 !important;
	// 	--c-gradient-end: #36f2ad !important;
	// }
}
