@import './functions';

$br-small: toRem(600);

:root {
	--c-background: #ffffff;
	--c-content: #121212;
	--c-lightgray: #4a4a4a;
	--c-gradient-start: #1b1b9b;
	--c-gradient-end: #10704d;

	--gradient-angle: 60;
	--gradient-angle-unit: 60deg;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-background: #121212;
		--c-content: #ffffff;
		--c-lightgray: #d9d9d9;
		--c-gradient-start: #6060f0;
		--c-gradient-end: #36f2ad;
	}
}
